table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

//td, th {
//    width: 25%;
//}
thead {
    background-color: #ff9800;
}
th {
    background-color: #ff9800;
}
.mat-mdc-header-cell {
    background-color: #ff9800;
}
table.mat-mdc-table {
    border-radius: .5rem;
    overflow: hidden;
}
th.mat-mdc-header-cell{
    background-color: #7E1F86;
    color: #ffffff;
    //display: flex;
    //align-items: center;
}
td.mat-mdc-cell {
    //display: flex;
    //align-items: center;
}
mat-paginator {
    background-color: #979595;
}