table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

//td, th {
//    width: 25%;
//}
thead {
    background-color: #ff9800;
}
th {
    background-color: #ff9800;
}
.mat-mdc-header-cell {
    background-color: #ff9800;
}